@page
@model projectASP.Pages.AbsenceModel
@{ ViewData["Title"] = "Absence";
    Layout = "~/Pages/Shared/_LayoutEtudiant.cshtml";}
<div class="card rounded shadow border-0">
    <div class="card-body bg-white rounded">
        <div class="table-responsive">
            <table id="example" style="width:100%" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Absence[0].CNE)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Absence[0].CIN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Absence[0].matiere)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Absence[0].date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Absence[0].justification)
                        </th>



                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Absence)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CNE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CIN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.matiere)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.justification)
                        </td>
                    </tr>}


                </tbody>

            </table>
        </div>
    </div>
</div>


