@page
@model projectASP.Pages.NoteModel
@{ Layout = "~/Pages/Shared/_LayoutEtudiant.cshtml"; }
<div class="card rounded shadow border-0">
    <div class="card-body bg-white rounded">
        <div class="table-responsive">
            <table id="example" style="width:100%" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.note[0].CIN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.note[0].matiere)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.note[0].note)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.note[0].filiere)
                        </th>


                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.note)
                    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.matiere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.filiere)
            </td>
        </tr>}


                </tbody>

            </table>
        </div>
    </div>
</div>




















