
@page
@model projectASP.Pages.ProfileProfModel
@{
    ViewData["Title"] = "Professeur";
    Layout = "~/Pages/Shared/_LayoutProfesseur.cshtml";
}



<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 450px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .titlec {
        color: grey;
        font-size: 18px;
    }

    pbutton {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: red;
        background-color: #7386D5;
        color: #fff;
        text-align: center;
        width: 100%;
        font-size: 18px;
    }

    b {
        color: black;
    }
</style>

<div class="card" style="margin-bottom:70px;">

    @foreach (var item in Model.Professeur)

    {
        <img img class='rounded-circle mr-2' width='200' height='200' style="margin-left:130px; margin-top:15px" ; src="@Html.DisplayFor(modelItem => item.image)">

        <h1 style="font-size:30px;">
            @Html.DisplayFor(modelItem => item.nom)

            @Html.DisplayFor(modelItem => item.prenom)
        </h1>


        <p class="titlec">
            <b>Login : </b>
            @Html.DisplayFor(modelItem => item.login)
        </p>
        <p><b>Password : </b>@Html.DisplayFor(modelItem => item.password)</p>
        <p><b>CIN : </b> @Html.DisplayFor(modelItem => item.CIN)</p>

        <p><b>Date de naissance : </b> @Html.DisplayFor(modelItem => item.datenaissance)</p>


        <p><b style="color:black">Email : </b>@Html.DisplayFor(modelItem => item.email)</p>

        <p><b>Téléphone : </b> @Html.DisplayFor(modelItem => item.tel)</p>

        
        <p><b>Matières spécialisées: </b>@Html.DisplayFor(modelItem => item.matierespecialise)</p>

        <pbutton><a asp-page="./EditProfilProf" asp-route-id="@item.CIN"> Modifier</a></pbutton>


    }

</div>




