@page
@model projectASP.Pages.ProjetsModel
@{ Layout = "~/Pages/Shared/_LayoutEtudiant.cshtml"; }
<div class="card rounded shadow border-0">
    <div class="card-body bg-white rounded">
        <div class="table-responsive">
            <table id="example" style="width:100%" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Projet[0].nom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Projet[0].CIN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Projet[0].semestre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Projet[0].date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Projet[0].filiere)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Projet[0].sujet)
                        </th>



                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Projet)
                    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semestre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.filiere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sujet)
            </td>
        </tr>}


                </tbody>

            </table>
        </div>
    </div>
</div>

