@page
@model projectASP.Pages.Notes.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_LayoutProfesseur.cshtml";
}




<h1 style="text-align: center;" class="text-secondary">Details de la note</h1>



<hr />
<div class="pos">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="container-fluid">

                    <!--CARDS start here-->
                    <div class="card card-1  text-md-center" id="card1">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td><span class="bold">    @Html.DisplayNameFor(model => model.Note.matiere) </span></td>
                                    <td>
                                        <p>
                                            @Html.DisplayNameFor(model => model.Note.matiere)
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold"> @Html.DisplayNameFor(model => model.Note.note) </span></td>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Note.note)
                                    </td>
                                </tr>
                  
                            </tbody>
                        </table>
                        <div class="pos1">
                            <a class="btn btn-info" asp-page="./Edit" asp-route-id="@Model.Note.CIN"><i class="fas fa-pencil-alt"></i> Modifier</a>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


