@page
@model projectASP.Pages.Etudiants.DeleteModel

@{ ViewData["Title"] = "Delete"; }




<h3 style="text-align: center;font-weight:bold;">Vous voulez supprimer cet etudiant ?</h3>



<hr />
<div class="pos">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="container-fluid">

                    <!--CARDS start here-->
                    <div class="card card-1  text-md-center" id="card1">
                        <table class="table table-hover">
                            <tbody>

                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Etudiant.CNE) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Etudiant.CNE)
                                    </td>
                                </tr>



                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Etudiant.login) </span></td>
                                    <td>
                                        <p>
                                            @Html.DisplayFor(model => model.Etudiant.login)
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold"> @Html.DisplayNameFor(model => model.Etudiant.nom) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Etudiant.nom)
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Etudiant.prenom) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Etudiant.prenom)
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Etudiant.datenaissance) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Etudiant.datenaissance)
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Etudiant.email) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Etudiant.email)
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Etudiant.tel) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Etudiant.tel)
                                    </td>
                                </tr>


                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Etudiant.filiere) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Etudiant.filiere)
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Etudiant.password) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Etudiant.password)
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="bold">@Html.DisplayNameFor(model => model.Etudiant.image)</span></td>
                                    <td colspan="2">@Html.DisplayFor(model => model.Etudiant.image)</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pos1">
                            <form method="post">
                                <input type="hidden" asp-for="Etudiant.CIN" />
                                <input type="submit" value="Supprimer" class="btn btn-danger" /> |
                                <a asp-page="./Index">Back to List</a>
                            </form>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
