@page
@model projectASP.Pages.Etudiants.DetailsModel

@{ ViewData["Title"] = "Details"; }

@{ Layout = "~/Pages/Shared/_Layout.cshtml"; }
<h1 style="text-align: center;" class="text-secondary">Details de l' Etudiant</h1>



<hr />
<div class="pos">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="container-fluid">

                    <!--CARDS start here-->
                    <div class="card card-1  text-md-center" id="card1">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Etudiant.login) </span></td>
                                    <td>
                                        <p>
                                            @Html.DisplayFor(model => model.Etudiant.login)
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold"> @Html.DisplayNameFor(model => model.Etudiant.nom) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Etudiant.nom)
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Etudiant.prenom) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Etudiant.prenom)
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Etudiant.datenaissance) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Etudiant.datenaissance)
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Etudiant.email) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Etudiant.email)
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Etudiant.tel) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Etudiant.tel)
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Etudiant.CNE) :</span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Etudiant.CNE)
                                    </td>
                                </tr>

                               
                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Etudiant.filiere) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Etudiant.filiere)
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Etudiant.password) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Etudiant.password)
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="bold">@Html.DisplayNameFor(model => model.Etudiant.image)</span></td>
                                    <td colspan="2">@Html.DisplayFor(model => model.Etudiant.image)</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pos1">
                            <a class="btn btn-info" asp-page="./Edit" asp-route-id="@Model.Etudiant.CIN"><i class="fas fa-pencil-alt"></i> Modifier</a>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
