@page
@model projectASP.Pages.Profs.DetailsModel

@{ ViewData["Title"] = "Details"; }
<h1 style="text-align: center;" class="text-secondary">Details de l' Etudiant</h1>



<hr />
<div class="pos">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="container-fluid">

                    <!--CARDS start here-->
                    <div class="card card-1  text-md-center" id="card1">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Professeur.login) </span></td>
                                    <td>
                                        <p>
                                            @Html.DisplayNameFor(model => model.Professeur.login)
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Professeur.password) </span></td>
                                    <td>
                                        <p>
                                            @Html.DisplayNameFor(model => model.Professeur.password)
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold"> @Html.DisplayNameFor(model => model.Professeur.nom) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Professeur.nom)
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Professeur.prenom) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Professeur.prenom)
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Professeur.datenaissance) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Professeur.datenaissance)
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Professeur.email) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Professeur.email)
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Professeur.tel) </span></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Professeur.tel)
                                    </td>
                                </tr>





                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Professeur.image) </span></td>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Professeur.image)
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="bold">@Html.DisplayNameFor(model => model.Professeur.matierespecialise)</span></td>
                                    <td colspan="2">@Html.DisplayFor(model => model.Professeur.matierespecialise)</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pos1">
                            <a class="btn btn-info" asp-page="./Edit" asp-route-id="@Model.Professeur.CIN"><i class="fas fa-pencil-alt"></i> Modifier</a>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


