@page
@model projectASP.Pages.Absences.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_LayoutProfesseur.cshtml";
}




<h3 style="text-align: center;font-weight:bold;">Vous voulez supprimer cet Absence ?</h3>



<hr />
<div class="pos">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="container-fluid">

                    <!--CARDS start here-->
                    <div class="card card-1  text-md-center" id="card1">
                        <table class="table table-hover">
                            <tbody>

                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Absence.CIN) </span></td>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Absence.CIN)
                                    </td>
                                </tr>
                                     <tr>
                                    <td><span class="bold">    @Html.DisplayNameFor(model => model.Absence.matiere) </span></td>
                                    <td>
                                        <p>
                                            @Html.DisplayNameFor(model => model.Absence.matiere)
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold">  @Html.DisplayNameFor(model => model.Absence.date) </span></td>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Absence.date)
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="bold">   @Html.DisplayNameFor(model => model.Absence.justification) </span></td>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Absence.justification)
                                    </td>
                                </tr>
                               
                               
                            </tbody>
                        </table>
                        <div class="pos1">
                            <form method="post">
                                <input type="hidden" asp-for="Absence.CNE" />
                                <input type="submit" value="Supprimer" class="btn btn-danger" /> |
                                <a asp-page="./Index">Back to List</a>
                            </form>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


